.news-container{
    font-family: 'Poppins';
}

.news-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #314871;
    list-style-type: none;
    margin-left: -11%;
    cursor: pointer;

  }

.news-image{
    width: 300px;
    height: 200px;
    border-radius: 15px;
    cursor: pointer;

}

.news-block{
    width: 300px;
    height: 30%;
    justify-content: center;
    padding-bottom: 1%;
}

.content-image{
    width: 80%;
    height: 50%;
    border-radius: 25px;
}

.publishtime{
    font-size: medium;
    text-align: end;
}

.backnews{
    margin-top: 2%;
    border:none;
    background-color: #261862;
    color: white;
    border-radius: 20px;
    height: 30px;
    width: 60px;
    font-family: 'Poppins';
}

.backnews:hover{
    background-color: white;
    color: #261862;
    cursor: pointer;
}