.logoWrapper{
    padding-top: 3.9% ;
    padding-left: 6.9%;
    height: 4em;
}

.registrationContainer {
    display: flex; 
    min-height: 100vh; 
}


.left-section{
    flex: 0 0 40%; 
    max-width: 100%;
    max-height: fit-content;
    background-color: #EFE8F5;
    overflow: hidden;
}


.right-section{
    flex: 1; /* Grow to fill the remaining space */
    background-color: #FFFFFF;
    padding-left: 17%;
    overflow: hidden;
}


ul{
    padding-left: 4.5em;
    font-size: 1.4em;
    font-weight:600;
    font-family: 'Poppins',sans-serif;
    color: #44619D;
}

li{
    margin-bottom: 1.3em;
}

.left-section h3{
    padding-top: 14px;
    padding-left: 2.7em;
    padding-bottom: 0.1em;
    font-size: 2em;
    font-weight: 600;
    color: #0E3869;
}


.Register-floatleft{
    padding-top: 1.2%;
    padding-left: 18%;
    align-content: center;
    width:345px;
    height:325px;
}


.right-section h2{

    padding-top: 4.5%;
    font-weight: bolder;
    font-size: 2.2em;
}

.box input{
    width: 60%;
    margin-top: 12px;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid black;
 }

 .input{
    padding-bottom: 1.4rem;
    font-size: 1.1em;
  }

  
  
.terms-checkbox{
    display: flex;
    gap: 0.5em;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
    font-size: 16px; 
    line-height: 37px;
    margin-left: -12px;
    margin-top: -5px;
    color: #000; /* Color for the text */

}

.terms-checkbox input[type="checkbox"] {
    cursor: pointer;
    width: 5%;
  }
  
  
.terms-checkbox a {
    color: #6847ED;
    font-weight: bolder;
    text-decoration: none; 
}

.terms-checkbox a:hover {
    color: #6847ED;
    text-decoration: underline; 
}

.registerBtn{
    background-color:#827ECD;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    padding: 10px 35px;  /* Top/bottom and left/right padding */
    margin-top: 4%;
    border: none;
    border-radius: 7.5px;
    margin-left: 22%;
    cursor: pointer; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    outline: none; 
    transition: background-color 0.3s, box-shadow 0.3s; 
}


.registerBtn:hover {
    background-color: #9995E1 ;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Larger shadow for a "lifted" effect */
}


.or-container{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 100px;
    margin-right: 125px;
}

.line{
    width: 13%;
    height: 1.5px;
    background-color: #000;
    margin: 0px 15px;
}

.or-text{
    display: inline;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0px 15px;
}

.signIn{
    text-decoration: none;
    color: #5690DB;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    display: block;
    padding-top: 2%;
    padding-left: 26%;;
    cursor: pointer;
}

.signIn:hover{
    text-decoration: underline;
    font-weight: bold;
}

  