.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1% 2%;
    background-color: white;
    color: #314871;
    font-family: 'Poppins', sans-serif;
    border-bottom: 0.05rem solid #ccc;
    font-size: 13px;
}

.logo {
    width: 13%; 
    margin-right: 0%; 
    margin-left: 0%;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 1%;
}

.nav-links li {
    margin-right: 15%;
}

.nav-links li a {
    color: inherit;
    text-decoration: none;
}

.nav-links li a:hover{
    color: #BD709D;
}

.dropdown {
    position: relative;
    margin-left: 10%;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    padding: 1% 2%;
    width: 200px;
}

.dropdown:hover .dropdown-content {
    display: grid;
    color: #BD709D;
}

.dropdown-content a {
    display: grid;
    color: #314871;
    padding: 8px 12px;
    text-decoration: none;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ffffff;
    color: #BD709D;
    font-weight: bold;
}

.link{
    color: #314871;
    text-decoration: none;
    margin-left: 10%;
    font-family: 'Poppins', sans-serif;
}

.link:hover{
    color: #BD709D;
}

.user{
    display: flex;
    width: 230px;
    height: 60px;
    margin-left: 40%;
}
.user button{
    border:none;
    background-color: #ffffff;
    width: 150px;
    height: 60px;
}

.logout{
    background-color: #fff;
    color: #314871;
    border: none;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-left: 40%;
}

.logout:hover {
    color: #BD709D;
    text-decoration: underline;}

.profile{
    margin-left: 1%;
    margin-right: 1%;
    background-color: #fff;
    color: #314871;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    height: 60px; 
    width: 60px; 
}

.profile img {
    width: 60px; 
    height: 60px;
}

.profile:hover {
    background-color: #ccc;
}