/* LeftRightLayout.css */

.page-container {
  display: flex;
  height: 100vh;
}

.left-column {
  flex: 0.25; /* Adjust the flex value as needed */
  background-color: white;
  padding:1.5%;
}

.right-column {
  flex: 0.75; /* Adjust the flex value as needed */
  background-color: #E3D6EB;
  padding:1.5%;
}
