/* LeftRightLayout.css */

body, html {
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  height:fit-content;
}

.left-column {
  flex: 0 0 20%;
  background-color: white;
  padding:1.5%;
}

.right-column {
  flex: 1; 
  background-color: #FAF1FF;
  height: max-content;
  padding:1.5%;
  padding-left: 3%;
}
