.footer-content{
    display: flex;
    justify-content: left;
    border-top: 0.085rem solid #9297AE;
    background-color: #fffdfd;
    color: black;
    font-weight: bold;
}

.footer-logo img{
    width: 300px;
    height: 300px;
    margin-left: 13%;
}

.footer-contact{
    font-family: 'Poppins';
    margin-left: 10%;
    margin-top: 5%;
}

.footer-bottom{
    font-family: 'Poppins';
    margin-bottom: 10%;
    margin-left: 12%;
    margin-top: 4.5%;
}

.inputemail{
    font-family: 'Poppins';
    border: none;
    color: black;
    width: 60%;
    border-radius: 20px;
    padding: 2.5%;
    margin-top: 5%;
    margin-right: 3%;
    background-color: rgb(200, 200, 200);
}

.inputemail:focus {
    outline: none;
    border-color: transparent;
}

.inputemail::placeholder {
    color: black;
}

.submitemail{
    font-family: 'Poppins';
    border: none;
    background-color: rgb(200, 200, 200);
    color: black;
    border-radius: 20px;
    padding: 2.5%;
    cursor: pointer;
    text-align: center;
}

.social-links img{
    height: 50px;
    margin-right: 10px;
    margin-top: 15px;
}

.email{
    color: black;
    text-decoration: none;
}

.email:hover{
    color: #E699C7;
}

.web{
    color: black;
    text-decoration: none;
}
.web:hover{
    color: #E699C7;
}

.slogan{
    font-size: 30px;
}

.fb img:hover{
    content: url('../../assets/images/fb3.png');
}

.twitter img:hover{
    content: url('../../assets/images/twitter3.png');
}

.ig img:hover{
    content: url('../../assets/images/ig3.png');
}
.linkedin img:hover{
    content: url('../../assets/images/linked3.png');
}


